@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 16% 98%;
        --foreground: 210 22% 5%;
        --card: 210 16% 98%;
        --card-foreground: 210 16% 10%;
        --popover: 210 16% 98%;
        --popover-foreground: 210 16% 10%;
        --primary: 210 16% 20%;
        --primary-foreground: 210 16% 95%;
        --secondary: 210 16% 93%;
        --secondary-foreground: 210 16% 15%;
        --muted: 210 16% 93%;
        --muted-foreground: 210 16% 35%;
        --accent: 210 16% 93%;
        --accent-foreground: 210 16% 15%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;
        --border: 210 16% 85%;
        --input: 210 16% 85%;
        --ring: 210 16% 10%;
        --chart-1: 210 16% 50%;
        --chart-2: 210 16% 45%;
        --chart-3: 210 16% 40%;
        --chart-4: 210 16% 35%;
        --chart-5: 210 16% 30%;
        --radius: 0.5rem;
        --sh-class: #82aaff;
        --sh-identifier: #c3e88d;
        --sh-sign: #89ddff;
        --sh-property: #ffcb6b;
        --sh-entity: #f07178;
        --sh-jsxliterals: #c792ea;
        --sh-string: #c3e88d;
        --sh-keyword: #f07178;
        --sh-comment: #5c6370;
    }

    .dark {
        --background: 210 16% 10%;
        --foreground: 210 20% 96%;
        --card: 210 16% 10%;
        --card-foreground: 210 16% 98%;
        --popover: 210 16% 10%;
        --popover-foreground: 210 16% 98%;
        --primary: 210 16% 95%;
        --primary-foreground: 210 16% 15%;
        --secondary: 210 16% 20%;
        --secondary-foreground: 210 16% 98%;
        --muted: 210 16% 20%;
        --muted-foreground: 210 20% 70%;
        --accent: 210 16% 20%;
        --accent-foreground: 210 16% 98%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 0 0% 98%;
        --border: 210 16% 20%;
        --input: 210 16% 20%;
        --ring: 210 16% 85%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
